body {
  background-color: #060606;
  color: white
}

.gradient-about {
  background: linear-gradient(to left, #B21E1E, #F80909);
  border-radius: 6px;
  padding: 50px;
  display: inline-block;
}

.main-about {
    background: #171616;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}
