body {
  background: linear-gradient(180deg, #060606 0%, #060606 75%, #C50707 100%, #C50707 25%);
  color: white;
}

.gradient-about {
  background: linear-gradient(to left, #B21E1E, #F80909);
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
}

.main-about {
    background: #171616;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
}
