.gradient-about {
        background: linear-gradient(to left, #B21E1E, #F80909);
        border-radius: 3px;
        padding: 10px;
        margin: 40px auto;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .main-about {
        background: #171616;
        border-radius: 5px;
        padding: 20px;
        color: white;
      }

      .img-hover {
        transition: transform 0.5s ease;
        display: inline-block;
      }
      .img-hover:hover {
        transform: scale(1.2);
      }

      .faq-box {
        background: #494649;
        border-radius: 3px;
        border: 5px solid #2F2E2F;
        margin: 40px auto;
        padding: 15px;
        max-width: 800px;
        color: white;
      }
