.gradient-about {
  background: linear-gradient(to left, #B21E1E, #F80909);
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
}

.main-about {
    background: #171616;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
}

.img-hover {
  transition: transform 0.5s ease;
  display: inline-block;
}

.img-hover:hover {
  transform: scale(1.2);
}

.faq-box {
  background: #494649;
  border-radius: 3px;
  border-color: #2F2E2F;
}
