.gradient-about {
        background: linear-gradient(to left, #B21E1E, #F80909);
        border-radius: 3px;
        padding: 10px;
        margin: 40px auto;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .main-about {
        background: #171616;
        border-radius: 5px;
        padding: 20px;
        color: white;
      }

      .img-hover {
        transition: transform 0.5s ease;
        display: inline-block;
      }
      .img-hover:hover {
        transform: scale(1.1);
      }

      .faq-box {
        background: #494649;
        border-radius: 3px;
        border: 5px solid #2F2E2F;
        margin: 40px auto;
        padding: 30px;
        max-width: 850px;
        color: white;
      }
      
    
      .top-navig {
        border: 0px;
        border-radius: 5px;
        background: #797279;
        color: white;
        padding: 2px;
      }

      .button-nav {
        color: white;
        transition: transform 0.4s ease;
        display: inline-block;
        text-decoration: none;
        text-shadow: 2px 2px 2px black;
        text-align:center;
      }

      .button-nav:hover{
       transform:scale(1.1);
      }

      .social-links {
        display: inline-block;
        text-decoration: none;
        transition: transform 0.5 ease;
        font-size: 10px
      }
      
      .social-links:hover {
        transform:scale(1.1)

      
      }

      .donate-button {
        background: #39E614;
        border: 4px solid #2EA415;
        text-align: center;
        text-shadow: 3px 3px 3px green;
        font-size:20px;
        color:white;
        transition: transform 0.4 ease;
        width: 150px;
      }

      .donate-button:hover {
        transform:scale(1.15)
      }

      .blog-direct {
        background: #6c6c6c;
        text-align:center;
        width: 400px;
        height: 800px;
      }